.sectionTitle {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.InOneLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sectionTitle::before {
    content: '';
    height: 3px;
    width: 100%;
    background-color: #83ff85;
    position: absolute;
    top: 100%;
    left: 0px;
    border-radius: 10px;
}

.sectionTitle::after {
    content: '';
    height: 3px;
    width: 80%;
    background-color: #83ff85;
    position: absolute;
    top: 100%;
    left: 0px;
    border-radius: 10px;
    margin-top: 8px;
}

.BoxShadow {
    box-shadow: 0px 2px 4px rgba(105, 105, 105, 0.2);
    border-radius: 0.4rem;
    padding: 10px;
    background-color: var(--white-color);
}

.input_box {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.input_box label {
    width: 30%;
    font-size: 14px;
}

label {
    font-size: 15px;
    font-weight: 600;
}

.Image_Upload_Box {
    padding: 2px;
    border: 1px solid rgb(216, 216, 216);
    height: 150px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.Upload_Image {
    width: 95%;
    object-fit: contain;
}

.file_box_css {
    height: 150px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: var(--light-gray);
}

.Basic_Profile_Img {
    width: 12rem;
    height: 12rem;
    background-color: var(--light-gray);
    border-radius: 50%;
    box-shadow: 0px 0px 10px 2px #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table_first_column {
    transition: color 0.3s;
    /* Smooth color transition on hover */
}

.table_first_column:hover {
    color: var(--green-main);
    cursor: pointer;
    text-decoration: underline;
}