* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: 'Segoe UI';
}

:root {
  --white-color: #fff;
  --light-gray: #C2C2C2;

  /* green  */
  --green-main: #379237;
  --green-light: #49EE73;
  --green-dark: #0EA033;

  /* gray  */
  --gray-main: #49A451;
  --gray-light: #7AC28B;
  --gray-dark: #237421;
}

.App {
  background-color: #F6F5F4;
  font-size: 100%;
  scroll-behavior: smooth;
  height: auto;
}

.input {
  font-size: 1rem;
  padding: 6px;
  border: 0.1rem solid rgb(117, 201, 89);
  border-radius: 7px;
  width: 100%;
}