.open_sidebar {
    padding: 0.2rem 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.close_sidebar {
    padding: 0.2rem 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar {
    width: 100%;
    padding-left: 1rem;
    margin-top: 1.5rem;
}

.sidebar__div {
    width: 100%;
}

.sidebar__li {
    width: 95%;
    padding: 0.5rem;
    text-align: center;
}

.sidebar__li:hover {
    width: 95%;
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 5px;
}

.dropdownList {
    margin-top: 5px;
    list-style: none;
    border-left: 2px solid var(--green-light);
    margin-left: 2.4rem;
  }

.dropdownList li {
    color: black;
    padding: 3px;
}

.dropdownList li:hover {
    color: rgb(196, 97, 97);
    padding: 3px;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 3px;
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #bababa 30%, #bababa  90%);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #bababa 30%, #bababa  90%);
    border-radius: 10px;
    cursor: pointer;
}